/* General Styles */

body {
    padding:50px
}

h1 { font-size: 56px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

h1, h2, h3 {
    color: #eb1b24;
}

/* Form Styles */

#form-section {
    text-align: center;
}

#form-section .form-group {
    margin-bottom: 15px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#form-section .form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-size: 1.25em;;
}

#form-section .form-group input {
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 18px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
}

#form-section .form-group input[type=submit]{
    background-color: #eb1b24;
    padding:25px;
    color: #ffffff;
    border: none;
    font-size: 1.5em;
    border-radius: 5px;
}

#form-section .form-group input, #form-section .form-group textarea {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 18px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
}

/* Ticket List Styles */

#ticketHistory {
    text-align: center;
}

#ticketHistoryContainer {
    
}

#ticketHistoryContainer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
}

#ticketHistoryContainer ul li.single-ticket-list {
    width: 50%;
    text-align: left;
    border: 1px solid #000;
    padding: 30px;
    margin-bottom: 15px;
    list-style: none;
}

#ticketHistoryContainer ul li.single-ticket-list button {
    display: block;
    border: none;
    margin-top: 10px;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
}

#ticketHistoryContainer ul li.single-ticket-list button.open, button.display {
    background-color: #eb1b24;
}

#ticketHistoryContainer ul li.single-ticket-list button.resolved {
    background-color: rgb(14, 105, 14);
}

#ticketHistoryContainer ul li.single-ticket-list button.hide {
    display: none;
}